name: pipeline
on: 
  push:
    branches: 
      - main
jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11' 
      - run:  pip install -r src/requirements.txt
      - run: python src/scraper.py
      - run: git stage .
      - run: git commit -m "temp message"
      - run: git push