name: pipeline
on: 
  push:
    branches: 
      - main
jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run:  pip install -r requirements.txt
      - run: python src/scraper.py